.top {
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 35px;
}

.board_list_wrap {
	width: 900px;
	height: 100%;
	margin: 150px auto;
	background-color: white;
	border-radius: 10px;
	padding-top: 20px;
	padding: 50px;
	padding-bottom: 100px;
}

.board_list_wraping {
	width: 500px;
	margin: 0 auto;
}

.board {
	width: 500px;
	margin: 0 auto;
}

.board_title_write {
	width: 500px;
	padding: 5px;
	margin-bottom: 5px;
}

.board_content_write {
	width: 500px;
	height: 200px;
	margin-bottom: 5px;
}

.board_btn {
	width: 500;
	text-align: right;
	margin-bottom: 5px;
}

.btn_registration, .btn_list {
	padding: 5px;
}

.board_region {
	margin-right: 80px;
}

.board_region, 
.board_price {
	display: inline-block;
	margin-bottom: 5px;
}

.board_size {
	width: 200px;
	padding: 5px;
}

.uploadResult {
	width: 100%;
	background-color: gray;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.uploadResult ul li {
	list-style: none;
	padding: 10px;
}

.uploadResult ul li img {
	width: 200px;
}

.uploadResult ul li span {
	color: white;
}
