<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.jungang.dive.board.persistence.ReplyMapper">
	<resultMap id="replyResultMap" type="kr.jungang.dive.board.domain.ReplyVO"  >
			<id property="id" column="id" />
			<result property="pid" column="pid" />
			<result property="rid" column="rid" />
			<result property="content" column="content" />
			<result property="writer" column="writer" />
			<result property="userNum" column="user_num" />
			<result property="regDate" column="reg_date" />
			<result property="updateDate" column="update_date" />
			<association property="user" resultMap="kr.jungang.dive.user.persistence.UserMapper.userResultMap" columnPrefix="user_"/>
	</resultMap>

	<select id="getTotCountOfPost" resultType="int">
	<![CDATA[
		select count(*) from tbl_reply
		 where pid = #{pid}
		
	]]>
	</select>
	
	<select id="findById" resultMap="replyResultMap">
	<![CDATA[
		select *
		  from tbl_reply
		 where id = #{id}
	]]>
	</select>
	
	<select id="getReplyWithPaging" resultMap="replyResultMap">
	<![CDATA[
		select r.id, r.pid, r.rid, r.content, r.writer, r.user_num, r.reg_date, r.update_date,
			   m.id as user_id,
			   m.USER_ID as user_USER_ID,
			   m.name as user_name,
			   m.nickname as user_nickname,
			   m.password as user_password,
			   m.address as user_address,
			   m.email as user_email,
			   m.phone as user_phone,
			   m.SEX as user_SEX,
			   m.BIRTHDAY as user_BIRTHDAY,
			   m.reg_date as user_reg_date,
			   m.update_date as user_update_date,
			   m.enabled as user_enabled
		  from
		  (select rownum rn, id, pid, rid, content, writer, user_num, reg_date, update_date
		     from (select * from tbl_reply where pid = #{pid} order by id asc)
		    where 
		rownum <= #{cri.pageNum} * #{cri.amount}) r left outer join tbl_user m on r.user_num = m.id
		where rn > (#{cri.pageNum} -1) * #{cri.amount}
		  
	]]>
	</select>
	
	<insert id="insertReply">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
		<![CDATA[
		 select seq_reply.nextval from dual
		]]>
		</selectKey>
		insert into tbl_reply (id, pid, content, writer, user_num)
		values(#{id}, #{pid}, #{content}, #{writer}, #{userNum})
	</insert>
	
	<update id="updateReply">
		update tbl_reply
		set content = #{content},
		update_date = sysdate
		where id = #{id}
	</update>

	<delete id="deleteReply">
   <![CDATA[
   		delete from tbl_reply where id= #{id}
   	]]>
	</delete>
</mapper>
