<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.jungang.dive.user.persistence.UserMapper">
	<resultMap id="userResultMap"
		type="kr.jungang.dive.user.domain.UserVO">
		<id property="userNum" column="user_num" />
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="sex" column="sex" />
		<result property="birthday" column="birthday" />
		<result property="address" column="address" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<result property="enabled" column="enabled" />
		<collection property="authorityList"
			resultMap="authorityResultMap"></collection>
		<!-- <collection property="listContactPoint"
			resultMap="contactPointResultMap" columnPrefix="contact_"></collection>
		 -->
	</resultMap>
	
	<resultMap type="kr.jungang.dive.user.domain.AuthorityVO" id="authorityResultMap">
		<result property="userNum" column="user_num" />
		<result property="authority" column="authority" />
	</resultMap>
	
	<!-- 권한 조회 -->
	<select id="readAuthority" resultMap="userResultMap">
		SELECT u.user_num, id, password, enabled, reg_date, update_date, a.authority
		  FROM tbl_user u LEFT OUTER JOIN tbl_authorities a ON u.user_num = a.user_num
		 WHERE u.user_num = #{userNum}
	
	</select>

	<!-- 회원 가입 -->
	<insert id="createUser">
		<selectKey keyProperty="userNum" order="BEFORE"
			resultType="long">
			<![CDATA[
				SELECT SEQ_USER.NEXTVAL FROM DUAL
			]]>
		</selectKey>
		INSERT INTO TBL_USER
		(user_num, id, password, name, sex, birthday,
		address, phone, email)
		<!-- ,jdbcType=Type : null을 허용하려면 입력해줘야함 -->
		VALUES(#{userNum},#{id},#{password},#{name, jdbcType=VARCHAR},
		#{sex,jdbcType=CHAR},#{birthday,
		jdbcType=CHAR},#{address,jdbcType=VARCHAR},
		#{phone,
		jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
	</insert>

	<!-- 아이디로 회원정보 검색 -->
	<select id="findById" resultMap="userResultMap">
  	<![CDATA[
  		SELECT u.*, a.*
  		  FROM tbl_user u left outer join tbl_authorities a on u.user_num = a.user_num
		 WHERE u.id = #{id}
  	]]>
	</select>

	<!-- 회원정보 수정 -->
	<update id="updateUser">
		UPDATE TBL_USER
		SET password = #{password},
		address = #{address},
		phone = #{phone},
		email = #{email},
		update_date = sysdate
		WHERE id = #{id}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteUser">
		DELETE
		FROM TBL_USER
		WHERE id = #{id}
	</delete>
	
	<!-- TEST용 권한 입력 -->
	<insert id="insertAuthority">
		insert into tbl_authorities (user_num, authority)
		values(#{userNum},#{authority})
	</insert>
</mapper>