.choice-sector {
	width: 350px;
	height: 100%;
	margin: 150px auto;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 30px;
}

.choice-sector-content {
	text-align: center;
}

.choice {
	padding: 80px;
}

.customer_inform_id_sector, .customer_inform_pass_sector {
	padding: 10px;
}

.customer_inform_id, .customer_inform_pass {
	border: 0;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.connect_sector {
	margin-top: 50px;
}

.connect_btn {
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: white;
}