#container{
            position: absolute;
            left: 50%;
            margin-left: -150px;
            top: 50%;
            margin-top: -240px;
            text-align: center;
        }
        #computer{
            width: 290px;
            height: 350px;
            background-position: 0 0;
        }
        p{
            font-size: 50px;
            text-align: center;
        }
        #score{
            margin: 10px 0;
        }
        .rsp{
            margin: 30px 0;
        }
        .rsp button{
            margin: 0 5px;
            font-size: 30px;
        }