table {
	border-collapse: collapse;
}

.top {
	text-align: center;
}

.logo i {
	font-size: 50px;
	margin: 30px;
}

a {
	text-decoration: none;
}

.logo a:link, .logo a:visited {
	color: black;
}

.tit a {
	color: black;
}

.board_list_wrap {
	padding: 50px;
}

.board_list {
	width: 100%;
	border-top: 2px solid navy;
}

.board_list tr {
	border-bottom: 1px solid #ccc;
}

.board_list th, .board_list td {
	padding: 10px;
	font-size: 14px;
}

.board_list td {
	text-align: center;
}

.board_list .tit {
	text-align: left;
}

.board_list .tit:hover {
	text-decoration: underline;
}

.board_list_wrap {
	width: 900px;
	height: 100%;
	margin: 150px auto;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 100px;
}

.board_list_wrap .paging {
	font-size: 0;
	/* list 사이 여백 공간 초기화 */
	margin-top: 20px;
	text-align: center;
}

.board_list_wrap .paging a {
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 100px;
	font-size: 12px;
	/* .board_list_wrap .paging 에서 여백 초기화한 값을 토대로 다시 사이즈 재지정 */
	color: black;
}

.board_list_wrap .paging a:first-child {
	margin-left: 0;
}

.board_list_wrap .paging a.btn {
	border: 1px solid #eee;
	/* 옆의 border가 들어간 item들과 크기를 맞추기위하여 */
	text-decoration: none;
	background: white;
}

.board_list_wrap .paging a.num {
	border: 1px solid blue;
	font-weight: 600;
	color: blue;
}

.board_list_wrap .paging a.num.on {
	background: blue;
	color: #fff;
}

.writing {
	text-align: right;
}

.writing_btn {
	margin: 5px;
	padding: 5px;
}