.choice-sector {
	width: 350px;
	height: 100%;
	margin: 150px auto;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 30px;
}

.choice-sector-content {
	text-align: center;
}

.choice h1 {
	padding-top: 80px;
}

.logo_image i {
	font-size: 50px;
	margin: 30px;
}

.customer_inform_name_sector, .customer_inform_email_sector {
	padding: 10px;
}

.customer_inform_name, .customer_inform_email {
	border: 0;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.connect_sector {
	margin-top: 50px;
}

.connect_btn {
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: white;
}

 @charset "UTF-8";