.choice-sector {
	width: 350px;
	height: 100%;
	margin: 150px auto;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 100px;
}

.choice-sector-content {
	text-align: center;
}

/* 회원정보 */
fieldset {
	border: none;
}

.customer_title {
	padding: 30px 0;
	text-align: left;
}
.customer_inform {
	text-align: center;
}

.fieldlabel {
	padding: 0 0px 10px 60px;
	text-align: left;
}

.border {
	border: 0;
	border-bottom: 1px solid black;
}

.connect_sector {
	margin-top: 50px;
}

.connect_btn {
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: white;
}

.btnfield {
	padding-top: 50px;
}

fieldset {
	width: 300px;
	margin: 0 auto;
}

.actionForm {
	margin-top: 15px;
}

.customer_title {
	padding-left: 20px;
}

.infoTit {
	text-align: left;
	margin-left: 25px;
	margin-bottom: 10px;
	font-weight: bold;
}

.formStyle {
	margin: 50px;
}