.choice-sector {
	width: 350px;
	height: 100%;
	margin: 150px auto;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 100px;
}

.choice-sector-content {
	text-align: center;
}

.login_btn, .signup_btn {
	width: 100px;
	height: 40px;
	margin-top: 80px;
	border-radius: 50px;
	background-color: white;
}

i {
	font-size: 50px;
}

.fieldlabel {
	padding: 0 0px 10px 80px;
	text-align: left;
}

.border {
	border: 0;
	border-bottom: 1px solid black;
}

.connect_sector {
	margin-top: 50px;
}

.connect_btn {
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: white;
}

.btnfield {
	padding-top: 50px;
}