.choice-sector {
	width: 350px;
	height: 600px;
	margin: 150px auto;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 30px;
}

.choice-sector-content {
	text-align: center;
}

.login_btn, .signup_btn {
	width: 100px;
	height: 40px;
	margin-top: 80px;
	border-radius: 50px;
	background-color: white;
}

i {
	font-size: 50px;
}

.customer_inform_id_sector, .customer_inform_pass_sector {
	padding: 10px;
}

.customer_inform_id, .customer_inform_pass {
	border: 0;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.connect_sector {
	margin-top: 50px;
}

.connect_btn {
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: white;
}

.findcustomer {
	font-size: 15px;
	text-align: right;
	margin: 10px 10px 0 0;
}