
/* body */
.choice-sector {
    width: 350px;
    height: 100%;
    margin: 150px auto;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 60px;
}

.choice-sector-content {
    text-align: center;
}
.choice_top{
    padding: 30px 0 0 70px;
    text-align: left;
}
.login_btn,
.signup_btn {
    width: 100px;
    height: 40px;
    margin-top: 50px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.logo_image i {
    font-size: 50px;
    margin: 30px;
}

.customer{
    padding: 30px 0 ;
}
.customer_inform_id_sector,
.customer_inform_pass_sector {
    padding: 10px;
}

.customer_inform_id,
.customer_inform_pass {
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.connect_sector {
    padding-top: 30px;
}

.connect_btn {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.findcustomer {
    padding-top: 30px;
    font-size: 15px;
    
}